{{#partial "content"}}
    <div class="landing-page">
        <div class="page-l"></div>
        <div class="page-r"></div>
        <div class="squad">
            <div id="newMember">
                <p class="close">&Cross;</p>
                <h2>Choose Squad Members</h2>
                {{#each heroes}}
                    <div class="hero-description">
<!--                        <img src="/img/yyyy.png" alt="">-->
                        <div class="hero-detail">
                            <p>Name: {{name}}</p>
                            <p>Power: {{power}}</p>
                            <a class="btns" href="/squad/new/{{id}}">Add to Squad</a>
                        </div>
                    </div>
                {{/each}}
            </div>
            <h2>
                <a class="btns" href="/squad-form">Create a Squad</a>
                <br><br>
            {{#if squads}}
                THESE ARE THE SQUADS
            </h2>
                {{#each squads}}
                    <div class="squad-content">
                        <img src="" alt="">
                        <div>
                            <h1>{{squadName}}</h1>
                            <p>Id: {{squadId}}</p>
                            <p>Target: {{cause}}</p>
                            <p>Max capacity: {{size}}</p>
                            <br><br>
                            <h3>PARTICIPANTS</h3>
                            <a class="btns" href="/new/member/{{squadId}}">Bind Id</a>
                            <button class="addMember add-btn">Add New Member</button>
                            {{#each squadMembers}}
                                <div class="member-content">
                                    <h4>Name: {{this.name}}</h4>
                                    <h4>Power: {{power}}</h4>
                                    <button class="btns">REMOVE</button>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <h2>Please you have to create a Squad to proceed</h2>
            {{/if}}
        </div>
    </div>
{{/partial}}
{{#partial "footer"}}
    <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
{{/partial}}
{{> layout.hbs}}